<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/dash.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Orders</h1>

    <ul>
        <!-- this runs for each 'to do'(document) in the database (collection)-->
<!--everytime it runs it creates the <li> and data-id property   that is created by Mongoose (el_id), and gives each element a span of 'delete' with a class of 'del'-->

<!-- found in our app.get[ res.render('todos.ejs', {todos: todoItems, left: itemsLeft}) ]-->
    <!-- <% orders.forEach( el => { %>
        <li class='orders' data-id='<%=el._id%>'>
						<span class='<%= el.completed === true ? 'completed' : 'not'%>'>Name:<%= el.name %>
        
           Drink:<%= el.drink%>
						Milk:<%= el.milk %>
						Allergies:<%= el.allergies %>
                    </span>


            <span class='del'> Delete </span>
        </li>
    <% }) %>     -->
    </ul>
    <h2>pending orders</h2>
    <ul>
        <% for(let i=0; i < orders.length; i++) {%>
            <li class='orders' data-id='<%=orders[i]._id%>'>
                <% if(orders[i].completed === false) {%>
                    <span class='not'>&#128578;Name: <%= orders[i].name %>  &#128568;Drink: <%= orders[i].drink%>
						&#128004;Milk: <%= orders[i].milk %>
						&#129325;Special Requests: <%= orders[i].requests %></span>
                    
                
                <% } %>    
                <!-- <span class='del'> Delete </span> -->


            </li>
        <% } %>
    



    



<h2>completed</h2>
    <ul >
        <% for(let i=0; i < orders.length; i++) {%>
            <li class='orders' data-id='<%=orders[i]._id%>'>
                <% if(orders[i].completed === true) {%>
                    <span class='completed'>Name:<%= orders[i].name %> Drink:<%= orders[i].drink%>
						Milk:<%= orders[i].milk %>
						Requests:<%= orders[i].requests %></span>
                
                <% } %>    
                <!-- <span class='del'> Delete </span> -->

            </li>
        <% } %>
    

    

    <script src="js/dash.js"></script>
</body>
</html>